.bg-segment { 
  width: 100%;
  background-size: 100% 100%;
}

.centered-img {
  width: 100%;
  position: absolute;
  display: block;
  transform: translate(0, -50%);
}

.centered-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  text-align: center;
}

#gallery {
  padding: 20px;
}