#main {
  width: 100%;
  position: relative;
}

.bg-segment { 
  width: 100%;
  background-size: 100% 100%;
}

.centered-img {
  min-height: initial;
  max-height: initial;
  width: 100%;
  position: absolute;
  transform: translate(0, -50%);
}

.centered-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  text-align: center;
}

#gallery {
  padding: 20px;
}

#aboutBox {
  padding: 0%;
  background-color: #0065BF;
}
#aboutBox h2{
  background-color: white;
  width: 100%;
  margin: 0px;
}
#aboutBox p{
  color: white;
}
@font-face {
  font-family: clouds;
  src: url(fonts/CloudsOfHopeLsf-xoY0.ttf);
}
 